.notes-container {
   width: 80%;
  height: 100%; 
  background-color: #dae5f5;
}
.default-layout {
   width: 100%; 
  position: relative;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .notes-container {
    width: 100%;
  }
}
